.product {
  transition: all 0.5s;
  h3 {
    padding: 1rem 0;
  }
  &:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
      -5px -5px 10px rgba(255, 255, 255, 0.1) !important;
  }
}
