.brand {
	width: 50%;
}

.navbar-collapse {
	flex-grow: 0;
}

.navbar-nav-scroll {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none; /* Hide scrollbar for Chrome, Safari and Opera */
	}
}
